
@mixin fontSmooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$base-font-family: 'Open Sans', sans-serif;

$modular-scale-base: 20px;

$base-font-size: modular-scale(0);
$base-font-weight-light:    300;
$base-font-weight-regular:  400;
$base-font-weight-medium:   500;

$body-copy-font-size: modular-scale(0);
$body-copy-line-height: modular-scale(2);

$header-font-size: modular-scale(4);

h1 {
	color: #FFF;
	font-family: $base-font-family;
 	font-size: $header-font-size;
	font-weight: 300;
	line-height: modular-scale(5);
	text-align: left;
  margin-bottom: modular-scale(2);
  
	@include fontSmooth;

  @include mobileOnly {
    font-size: modular-scale(2);    
    line-height: modular-scale(3);
  }
}

h2 {
  color: #FFF;
  font-family: $base-font-family;
  font-size: modular-scale(2);
  font-weight: 300;
  line-height: modular-scale(2);
  text-align: left;
  margin-bottom: modular-scale(0);
  
  @include fontSmooth;

  &#email {
    margin-top: modular-scale(4);

    @include mobileOnly {
      margin-top: modular-scale(2);
      margin-bottom: modular-scale(2);
    }
  } 

  @include mobileOnly {
    font-size: modular-scale(1);
    line-height: modular-scale(2);
  }
}

a, a:active, a:link, a:hover {
  border-bottom: 1px solid #FFF;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #00fff6;
  color: #00fff6;
}

.bold {
  font-weight: $base-font-weight-medium;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.absolute-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%)
}