@font-face { 
	font-family: 'Cubano';
	src: url('http://www.jeremyabel.com/css/cubano-regular-webfont.eot');
	src: url('http://www.jeremyabel.com/css/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('http://www.jeremyabel.com/css/cubano-regular-webfont.woff') format('woff'),
	     url('http://www.jeremyabel.com/css/cubano-regular-webfont.ttf') format('truetype'),
	     url('http://www.jeremyabel.com/css/cubano-regular-webfont.svg#webfont') format('svg');
}

#homepage-banner {

	canvas {
		cursor: pointer;
		margin: 0;
		padding: 0;
	}
}

#homepage-title {
	cursor: pointer;
	position: absolute;
	top: 90px;
	margin-left: 22px;

	h1 {
		user-select: none;
		font-family: "Cubano";
		background: #000;
		color: #FFF;
		display: inline-block;
		padding-left: 22px;
		padding-right: 22px;
		font-size: 100px;
		line-height: 98px;
		height: 108px;
		visibility: hidden;
		margin: 0;

		&.intro-show {
			visibility: visible;
		}
	}
}

#banner-parent {
	position: absolute;
	top: 197px;
	left: 68px;
}