@import "reset";
@import "bourbon";
@import "neat";
@import "grid-settings";
@import "colors";
@import "typography";
@import "spans";

section {
	@include outer-container;

	&.full-width {
		@include outer-container(100%);
	}

	img {
		width: 100%;
	}
}

#content {
	position: relative;
	margin-top: 180px;
	z-index: 1;
	opacity: 0;
	transition: opacity 1s;

	&.show {
		opacity: 1.0;
	}
}

#logo {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

canvas {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	border: 12px solid #00fff6;
	z-index: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
